@model JokeApp.Models.VisionLabels
@using System.Data

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>M&amp;M Detector</h1>
    <p class="lead">This application will input photos of bowls of M&amp;Ms, and tell you whether or not any color has been removed from the bowl. If a color has been removed, but there are still a few pieces left, it will identify this bowl as "contaminated".</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p> 
</div>